In [1]:
#import pandas and numpy 

import pandas as pd 
import numpy as np

In [2]:
#reading files (text or csv )

companies=pd.read_csv(r"data/companies.txt",encoding='ISO-8859-1',delimiter='\t')
rounds2=pd.read_csv(r"data/rounds2.csv",encoding='ISO-8859-1')

In [3]:
#remove all the zunk character in both datasets

rounds2['company_permalink']=rounds2['company_permalink'].apply(lambda x:x.encode('utf-8').decode('ascii','ignore'))
companies['permalink']=companies['permalink'].apply(lambda x:x.encode('utf-8').decode('ascii','ignore'))

In [4]:
# delete all the unnessary columns in companies

companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [5]:
companies.drop(['homepage_url','status','state_code','region','city','founded_at'],inplace=True,axis=1)
companies.head()

,permalink,name,category_list,country_code
0,/Organization/-Fame,#fame,Media,IND
1,/Organization/-Qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",Apps|Games|Mobile,NaN
3,/Organization/0-6-Com,0-6.com,Curated Web,CHN
4,/Organization/004-Technologies,004 Technologies,Software,USA

In [6]:
# delete all the unnessary columns in rounds2

rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-15,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-14,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-14,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-14,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-08,2000000.0

In [7]:
rounds2.drop(['funding_round_permalink','funding_round_code','funded_at'],inplace=True,axis=1)
rounds2.head()

                     company_permalink funding_round_type  raised_amount_usd
0                  /organization/-fame            venture         10000000.0
1               /ORGANIZATION/-QOUNTER            venture                NaN
2               /organization/-qounter               seed           700000.0
3  /ORGANIZATION/-THE-ONE-OF-THEM-INC-            venture          3406878.0
4                /organization/0-6-com            venture          2000000.0

## cheackpoint-1

In [8]:
print(companies['permalink'].nunique())
companies['permalink'].unique()

66368

array(['/Organization/-Fame', '/Organization/-Qounter',
       '/Organization/-The-One-Of-Them-Inc-', ..., '/Organization/Eron',
       '/Organization/Asys-2',
       '/Organization/Novatiff-Reklam-Ve-TanTM-Hizmetleri-Tic'],
      dtype=object)

In [9]:
companies['permalink']=companies['permalink'].str.lower() #convert all the rows(companies['permalink']) in lower case
companies.permalink.nunique()

66368

In [10]:
companies['permalink']=companies['permalink'].apply(lambda x:x.split("/organization/")[1]) #spliting

In [11]:
companies.head()

,permalink,name,category_list,country_code
0,-fame,#fame,Media,IND
1,-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA
2,-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",Apps|Games|Mobile,NaN
3,0-6-com,0-6.com,Curated Web,CHN
4,004-technologies,004 Technologies,Software,USA

In [12]:
companies['permalink']=companies['permalink'].apply(lambda x:x.split("-",1)[1] if x.startswith("-") else x)
companies.head()

,permalink,name,category_list,country_code
0,fame,#fame,Media,IND
1,qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA
2,the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",Apps|Games|Mobile,NaN
3,0-6-com,0-6.com,Curated Web,CHN
4,004-technologies,004 Technologies,Software,USA

In [13]:
companies.drop('name',inplace=True,axis=1)

In [14]:
print(rounds2["company_permalink"].nunique())
rounds2["company_permalink"].unique()

90247

array(['/organization/-fame', '/ORGANIZATION/-QOUNTER',
       '/organization/-qounter', ..., '/organization/eron',
       '/ORGANIZATION/ASYS-2',
       '/organization/novatiff-reklam-ve-tantm-hizmetleri-tic'],
      dtype=object)

In [15]:
rounds2['company_permalink']=rounds2['company_permalink'].str.lower() 
rounds2.head()

                     company_permalink funding_round_type  raised_amount_usd
0                  /organization/-fame            venture         10000000.0
1               /organization/-qounter            venture                NaN
2               /organization/-qounter               seed           700000.0
3  /organization/-the-one-of-them-inc-            venture          3406878.0
4                /organization/0-6-com            venture          2000000.0

In [16]:
rounds2['company_permalink']=rounds2['company_permalink'].apply(lambda x:x.split("/organization/")[1])
rounds2['company_permalink']=rounds2['company_permalink'].apply(lambda x:x.split("-",1)[1] if x.startswith("-") else x)
rounds2.head()

      company_permalink funding_round_type  raised_amount_usd
0                  fame            venture         10000000.0
1               qounter            venture                NaN
2               qounter               seed           700000.0
3  the-one-of-them-inc-            venture          3406878.0
4               0-6-com            venture          2000000.0

##### Q1-How many unique companies are present in rounds2?

In [17]:
rounds2.company_permalink.nunique()

66368

##### Q2-How many unique companies are present in companies?

In [18]:
companies.permalink.nunique()

66368

##### Q3-In the companies data frame, which column can be used as the unique key for each company? Write the name of the column.?

In [19]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   permalink      66368 non-null  object
 1   category_list  63220 non-null  object
 2   country_code   59410 non-null  object
dtypes: object(3)
memory usage: 1.5+ MB

###### we can see permalink has no null value so we use permalink as the unique key for each company

##### Q4-Are there any companies in the rounds2 file which are not present in companies? 
##### Answer yes or no: Y/N

In [20]:
set(companies.permalink).issubset(set(rounds2.company_permalink))

True

##### Q5-Merge the two data frames so that all variables (columns) in the companies frame are added to the rounds2 data frame. Name the merged frame master_frame. How many observations are present in master_frame?

In [21]:
rounds2.rename(columns={'company_permalink':'permalink'},inplace=True)  #change the column name

In [22]:
rounds2.head()

              permalink funding_round_type  raised_amount_usd
0                  fame            venture         10000000.0
1               qounter            venture                NaN
2               qounter               seed           700000.0
3  the-one-of-them-inc-            venture          3406878.0
4               0-6-com            venture          2000000.0

In [23]:
# merging both datasets(companies and rounds2)
master_frame=pd.merge(companies,rounds2,how='inner',on='permalink')
master_frame.head()

,permalink,category_list,country_code,funding_round_type,raised_amount_usd
0,fame,Media,IND,venture,10000000.0
1,qounter,Application Platforms|Real Time|Social Network...,USA,venture,NaN
2,qounter,Application Platforms|Real Time|Social Network...,USA,seed,700000.0
3,the-one-of-them-inc-,Apps|Games|Mobile,NaN,venture,3406878.0
4,0-6-com,Curated Web,CHN,venture,2000000.0

## Data Cleaning

In [24]:
master_frame.info() #checking all the information about the dataset(master_frame)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 5 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   permalink           114949 non-null  object
 1   category_list       111539 non-null  object
 2   country_code        106271 non-null  object
 3   funding_round_type  114949 non-null  object
 4   raised_amount_usd   94959 non-null   float64
dtypes: float64(1), object(4)
memory usage: 5.3+ MB

In [25]:
master_frame.isnull().sum()   #checking how many null data present in dataset

permalink                 0
category_list          3410
country_code           8678
funding_round_type        0
raised_amount_usd     19990
dtype: int64

In [26]:
# create a function to checking all the nan values in %

def nan_perc(master_frame):
    return round((100*master_frame.isnull().sum())/len(master_frame),2)

In [27]:
nan_perc(master_frame)

permalink              0.00
category_list          2.97
country_code           7.55
funding_round_type     0.00
raised_amount_usd     17.39
dtype: float64

In [28]:
master_frame.head(20)

,permalink,category_list,country_code,funding_round_type,raised_amount_usd
0,fame,Media,IND,venture,10000000.0
1,qounter,Application Platforms|Real Time|Social Network...,USA,venture,NaN
2,qounter,Application Platforms|Real Time|Social Network...,USA,seed,700000.0
3,the-one-of-them-inc-,Apps|Games|Mobile,NaN,venture,3406878.0
4,0-6-com,Curated Web,CHN,venture,2000000.0
5,004-technologies,Software,USA,venture,NaN
6,01games-technology,Games,HKG,undisclosed,41250.0
7,0ndine-biomedical-inc,Biotechnology,CAN,seed,43360.0
8,0ndine-biomedical-inc,Biotechnology,CAN,venture,719491.0
9,0xdata,Analytics,USA,seed,3000000.0
10,0xdata,Analytics,USA,venture,20000000.0
11,0xdata,Analytics,USA,venture,1700000.0
12,0xdata,Analytics,USA,venture,8900000.0
13,1,Mobile,USA,seed,150000.0
14,1,Mobile,USA,undisclosed,NaN
15,1,Mobile,USA,seed,1000050.0
16,1-2-3-listo,E-Commerce,CHL,seed,40000.0
17,1-4-all,Entertainment|Games|Software,USA,equity_crowdfunding,NaN
18,1-618-technology,Networking|Real Estate|Web Hosting,USA,equity_crowdfunding,NaN
19,1-800-dentist,Health and Wellness,USA,undisclosed,NaN

In [29]:
print(master_frame.funding_round_type.nunique())
master_frame.funding_round_type.unique()

14

array(['venture', 'seed', 'undisclosed', 'equity_crowdfunding',
       'convertible_note', 'private_equity', 'debt_financing', 'angel',
       'grant', 'secondary_market', 'post_ipo_equity', 'post_ipo_debt',
       'product_crowdfunding', 'non_equity_assistance'], dtype=object)

In [30]:
master_frame1=master_frame[master_frame['funding_round_type'].isin(['venture','seed','angel','private_equity'])]

In [31]:
master_frame1.head()

,permalink,category_list,country_code,funding_round_type,raised_amount_usd
0,fame,Media,IND,venture,10000000.0
1,qounter,Application Platforms|Real Time|Social Network...,USA,venture,NaN
2,qounter,Application Platforms|Real Time|Social Network...,USA,seed,700000.0
3,the-one-of-them-inc-,Apps|Games|Mobile,NaN,venture,3406878.0
4,0-6-com,Curated Web,CHN,venture,2000000.0

In [32]:
master_frame1.shape

(94397, 5)

In [33]:
nan_perc(master_frame1)

permalink              0.00
category_list          2.65
country_code           7.76
funding_round_type     0.00
raised_amount_usd     14.59
dtype: float64

In [34]:
master_frame1.dropna(subset=['raised_amount_usd'],inplace=True)

<ipython-input-34-b154cd679eac>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  master_frame1.dropna(subset=['raised_amount_usd'],inplace=True)

In [35]:
nan_perc(master_frame1)

permalink             0.00
category_list         1.06
country_code          6.23
funding_round_type    0.00
raised_amount_usd     0.00
dtype: float64

In [36]:
master_frame1.shape

(80627, 5)

In [37]:
master_frame1.dropna(subset=['country_code'],inplace=True)

<ipython-input-37-84fb6b66bdcd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  master_frame1.dropna(subset=['country_code'],inplace=True)

In [38]:
nan_perc(master_frame1)

permalink             0.00
category_list         0.64
country_code          0.00
funding_round_type    0.00
raised_amount_usd     0.00
dtype: float64

In [39]:
master_frame['raised_amount_usd'].describe()

count    9.495900e+04
mean     1.042687e+07
std      1.148212e+08
min      0.000000e+00
25%      3.225000e+05
50%      1.680511e+06
75%      7.000000e+06
max      2.127194e+10
Name: raised_amount_usd, dtype: float64

In [40]:
master_frame1.category_list.describe()

count             75124
unique            19758
top       Biotechnology
freq               6002
Name: category_list, dtype: object

In [41]:
master_frame1.dropna(subset=['category_list'],inplace=True)

<ipython-input-41-7dea52f98b87>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  master_frame1.dropna(subset=['category_list'],inplace=True)

In [42]:
nan_perc(master_frame1)

permalink             0.0
category_list         0.0
country_code          0.0
funding_round_type    0.0
raised_amount_usd     0.0
dtype: float64

In [43]:
master_frame1.shape

(75124, 5)

In [44]:
master_frame1.funding_round_type.unique()

array(['venture', 'seed', 'private_equity', 'angel'], dtype=object)

In [45]:
master_frame1.head()

,permalink,category_list,country_code,funding_round_type,raised_amount_usd
0,fame,Media,IND,venture,10000000.0
2,qounter,Application Platforms|Real Time|Social Network...,USA,seed,700000.0
4,0-6-com,Curated Web,CHN,venture,2000000.0
7,0ndine-biomedical-inc,Biotechnology,CAN,seed,43360.0
8,0ndine-biomedical-inc,Biotechnology,CAN,venture,719491.0

In [46]:
master_frame1['category_list']=master_frame1['category_list'].apply(lambda x: x.split('|')[0])

<ipython-input-46-de0bf7da667f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  master_frame1['category_list']=master_frame1['category_list'].apply(lambda x: x.split('|')[0])

In [47]:
master_frame1.to_csv(r"data/master_frame1.csv",index=False)

In [48]:
master_frame1.funding_round_type.unique()

array(['venture', 'seed', 'private_equity', 'angel'], dtype=object)